// Define variables for your color scheme

// For example:
$red: #FD1015;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$sand: #F0DDC5;
$pink: #A57982;
$purple: #351E29;
$blue: #468189;
$light-blue: #74A4BC;
