<h2 class="text-center">My Bernard-Bookings</h2>

<div class="cards-grid">
  <% @my_bookings.each do |my_booking| %>
    <div class="card-dashboard">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
      <div class="card-dashboard-infos">
        <h2><%= my_booking.title %></h2>
        <p><strong><%= my_booking.price %></strong> 🌿</p>
      </div>
    </div>
  <% end %>
</div>
