<div class="cards-grid">
  <% @my_offers.each do |my_offer| %>
    <div class="card-offer-dashboard">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
      <div class="card-offer-dashboard-infos">
        <h2><%= my_offer.title %></h2>
        <p><strong><%= my_offer.price %></strong> 🌿</p>
      </div>
    </div>
  <% end %>
</div>
