.avatar-large {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  position: absolute;
  align-items: right;
  right: 70px;
  top: 45px;
  object-fit: cover;
}

#avatar-name {
  position: absolute;
  align-items: right;
  right: 70px;
  top: 100px;
}
