.card-dashboard {
  padding: 30px 0 40px;
  margin-bottom: 30px;
  background-color: $sand;
  text-align: center;
  overflow: hidden;
  position: relative;

  .picture {
    display: inline-block;
    height: 130px;
    width: 130px;
    margin-bottom: 50px;
    z-index: 1;
    position: relative;
  }

  .price {
    display: block;
    font-size: 15px;
    color: #4e5052;
    text-transform: capitalize;
  }
}

.card-dashboard .picture::before {
  content: "";
  width: 100%;
  height: 0;
  border-radius: 50%;
  background-color: $pink;
  position: absolute;
  bottom: 135%;
  right: 0;
  left: 0;
  opacity: 0.9;
  transform: scale(3);
  transition: all 0.3s linear 0s;
}

.card-dashboard:hover .picture::before {
  height: 100%;
}

.card-dashboard .picture::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: $pink;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.card-dashboard .picture img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transform: scale(1);
  transition: all 0.9s ease 0s;
}

.card-dashboard:hover .picture img {
  box-shadow: 0 0 0 14px #f7f5ec;
  transform: scale(0.7);
}

.grey {
  color: grey;
}

.card-index:hover {
  transform: scale(1);
  box-shadow: 0 8px 16px $sand;
  transition: 0.3s ease;
}

.smaller-card {
  max-width: 300px;
}

.card-img-top {
  height: 180px;
  object-fit: cover;
}

.card-index-infos h2 {
  font-size: 1.75rem;
  margin-top: 25px;
}

.card-index-infos p.text {
  font-size: .95rem;
  margin: 20px auto;
  text-align: center;
  width: 85%;
}

.card-offer {
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	display: flex;
	max-width: 100%;
	margin: 20px;
	overflow: hidden;
	width: 950px;
}

.card-offer-picture {
	max-width: 250px;
}

.card-offer-picture img {
	display: inline-block;
	opacity: 0.6;
	text-decoration: none;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.card-offer-infos {
	padding: 30px;
	position: relative;
	width: 100%;
}

.card-offer-price {
	position: absolute;
	top: 20px;
	right: 30px;
	text-align: right;
	width: 150px;
}
