.cards-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.card-dashboard {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;

  img {
    height: 100%;
    width: 120px;
    object-fit: cover;
  }

  h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }

  p {
    font-size: 12px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
  }
}

.card-dashboard-infos {
  padding: 16px;
}

// .card-avatar {

// }

// .card-offer-dashboard {

// }

// .card-booking-dashboard {

// }

.card-index {
  background-color: #FFFFFF;
  box-shadow: 0px 0px 30px 10px rgba(0,0,0,0.2);
  margin: 25px 0;
  min-height: 515px;
  overflow: hidden;
  width: 100%;

  img {
    height: auto;
    object-position: center center;
    width: 100%;
  }
}

.index-img {
  border-bottom: 4px solid #F8864F;
  height: 200px;
  overflow: hidden;
}

.card-index .card-index-infos {
  display: flex;
    align-items: center;
    flex-direction: column;
  min-height: 315px;
}

.card-index-infos h2 {
  font-size: 1.75rem;
  margin-top: 25px;
}
.card-index-infos p.text {
  font-size: .95rem;
  margin: 20px auto;
  text-align: center;
  width: 85%;
}
