.tabs-underlined {
  display: flex;
  align-items: center;
}

.tabs-underlined .tab-underlined {
  color: black;
  padding: 8px;
  margin: 8px;
  opacity: 1;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 4px solid transparent;
  font-size: x-large;
}

.tabs-underlined .tab-underlined:hover {
  opacity: 1;
  border-bottom: 3px solid #555555;
}

.avatar-large {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  position: absolute;
  align-items: right;
  right: 70px;
  top: 45px;
  object-fit: cover;
}
